<nav class="navbar bg-success mb-5">
  <div class="container text-white justify-content-center">
    <h1 class="header-title" routerLink="pokemons">Pokédex</h1>
  </div>
</nav>

<div class="container">
  <div class="row">

    @for (pokemon of pokemonList(); track pokemon.id) {
    <div class="col-4 mb-4">
      <div class="card mb-4" appPokemonBorder>
        <div class="row g-0">
          <div class="col-md-4 d-flex align-items-center justify-content-center bg-light">
            <img [src]="pokemon.picture" class="img-fluid rounded-start" [alt]="pokemon.name">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{pokemon.name}}</h5>
              <p class="card-text">Taille : {{size(pokemon)}}</p>
              <p class="card-text">Point de vie : {{pokemon.life}}</p>
              <button (click)="incrementLife(pokemon)" [disabled]="pokemon.life >= 30" class="btn btn-success">+</button>
              <button (click)="decrementLife(pokemon)" [disabled]="pokemon.life <= 10" class="btn btn-danger">-</button>
            </div>

          </div>
        </div>
      </div>
    </div>
      }
  </div>

</div>




